RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

ErrorDocument 404 /tienda/user_/error
ErrorDocument 403 /tienda/user_/error
ErrorDocument 500 /tienda/user_/error

Options -indexes
